.clicker {
    --mainColor: wheat;
    --headingFontSize: 24px;

    color: var(--mainColor);

    & h1 {
        font-size: var(--headingFontSize);
    }

    & button {
        height: 30px;
        width: 150px;
        border: 1px solid black;
        border-radius: 7px;
        background-color: var(--mainColor);
        font-size: 20px;
        cursor: pointer;
        outline: 0;
    }

    @media (--phonePortrait) {
        color: red;
    }
}
