body {
    display: flex;
    min-height: 100vh;
    background-color: var(--color1);
    background-size: 100%;
    color: var(--color2);
    font-size: 33px;
    text-align: center;
    font-family: Caveat;
    font-style: normal;
    font-weight: 300;
}
