body {
    display: flex;
    min-height: 100vh;
    background-color: var(--color2);
    background-size: 100%;
    color: var(--color2);
    font-size: 33px;
    font-weight: 600;
    text-align: center;
    font-family: 'Pacifico', cursive;
    /* font-family: Caveat; */

    & h1 {
        color: rebeccapurple;
    }
}
