body {
    min-height: 100vh;
    /* background-color: var(--color1); */
    background-size: 100%;
    color: black;
    font-size: 33px;
    font-weight: 600;
    text-align: center;
    font-family: 'Roboto Condensed';
}